/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */


.dalevuelta {
	height:400px;
	background-color:#85BAE2;
}

#slider { position:relative !important; }

#slider #ant { position:absolute; top:40%; left:10px; z-index:700; }
#slider #sig { position:absolute; top:40%; right:10px; z-index:701; }


#caja1, #caja2, #caja3 {
	height:auto;
}

.todoelalto { display: block; width: 100%; height: 100%; }

.contenidofijo { text-align:center !important; }

img.estatica { width:100%; max-width:300px !important; }

.fondorojo { background-color:#E89AB2; }
.fondoamarillo { background-color:#FCFF9B; }
.fondoverde { background-color:#AEFFD6; }
.fondoazul { background-color:#85BAD8; }
.fondogris { background-color:#CCC; }
.inthesky { background-image:url(../../img/diamantes.png); }
.capatransparente { background-color:rgba(32,32,32,0.4); width:100%; height:100%; transition-property:background-color; transition-timing-function:ease-in-out; transition-duration:0.5s; }
.capatransparente:hover { background-color:rgba(32,32,32,0.2); }

.imgdecarrusel { background-position:center; background-size:cover; width:100%; height:100%; }

#enterreno, #noticias, #agenda { position:relative !important; background-position:center; height:300px; }
img.titulo { position:absolute; top:0px; left:0px; }
img.linkA { position:absolute; bottom:0px; left:10px; }
img.linkB { position:absolute; bottom:0px; right:10px; }
.titular { position:absolute; top:80px; left:5%; width:90%; color:#fff; text-transform:uppercase; font-weight:bold; }
.titularagenda { position:absolute; top:60px; left:5%; width:90%; text-transform:uppercase; font-weight:bold; }
.numerogigante { font-size:80px; font-weight:bold; text-align:center; }
.menudeabajo { margin-top:20px; }

/* #Page Styles
================================================== */



/* Navegación
================================================== */





/* #Media Queries
================================================== */

	@media only screen and (min-width: 960px) {
		
		body { padding-top:60px !important;
		}
	}


	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {
		
		body { padding-top:0px !important;
		}
	}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		
		.dalevuelta {
		height:300px;
		background-color:#FCFF9B;
		}
		
		}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
		
		.dalevuelta {
		height:200px;
		background-color:#E89AB2;
		}

		
		}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */
		
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,300,700);

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/